/* Global */

.navbar-brand {
  font-size: 75px;
  padding-bottom: 10px;
  font-family: 'The Nautigal', cursive;
  color: #fbc531;
}

.nav-link {
  color: white;  
}
.flex-row {
  list-style: none;
  color: white;
}

.splash-inner {
    color: white;
    padding: 50px;

}

.page-title {
    margin: 50px;
    padding: 16px;
    font-size: 30px;
    font-weight: 50;
    font-style: italic;
    line-height: 1.2;
    justify-content: center;
}

.page-subtitle {
    margin: 0px 0px 30px;
    font-weight: 500;
    font-size: 50px;
    justify-content: center;
}

.title {
    padding: 50px 0 0 0;
    font-weight: 800;
}
/*Btn*/

.btn {
    //display: inline-block;
    //min-width: 160px;
    margin: auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    //background-position: 100% 0;
    //background-size: 300%;
}

body {
    margin: 0px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding: 96 0px;
}

i {
  color: #fbc531;
}
/*Header*/

header.splash {
    height: 100%;
    object-fit: cover;
    background-image: url('https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
}

.splash-inner {
    margin: auto;
}

.wrapper h3 {
    font-size: 24px;
    margin: 12 0 12px 0;
    padding: 50px;
}

/*Portfolio*/

.our-portfolio {
    background-color: 	#DCDCDC;
}


/*Social media*/


i {
    font-size: 30px;
    padding: 50px 0 0 0;
}

.media ul {
    display: flex;
    justify-content: center;

}
.media_icons li {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    align-items: center;
    margin: 0 6px;
}

.media_icons li a {
    color: black;
}

/* Media*/

@media (max-width: 767px) {

.wrapper {
    flex-direction: column;
}

}
